.tool-bar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  .menu-container{
    display: flex;
    gap: 4%;
  }
  img{
   width: 60px;
  }
  .menu-icon{
    @media only screen and (min-width: 899px) {
      display: none;
    }
    margin-left: 1%;
  }
  .input-icon{
    size: 4%;
  }
}
