.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: fit-content;

  .MuiAvatar-root {
    background-color: #1976d2;
    font-size: 2rem;
    padding: 15px;
  }

  .username {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}

.drawer {
  .MuiDrawer-paper {
    box-sizing: border-box;
    padding-top: 20px;
    z-index: 40;
    width: 260px;
    .divider {
      width: 100%;
      margin: 20px 0;
    }
  }
}

@media (max-width: 899px) {
  .lg-drawer {
    display: none;
  }
}
@media (min-width: 899px) {
  .sm-drawer {
    display: none;
  }
}
